<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cohorts">Cohorts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cohorts/new">New Cohort</a>
      </li>
</div>