button {
    margin-right: 1em;
}

span {
    margin-right: 1em;
    margin-left: 1em;
}

#title {
    text-align: center;
}

#container {
    max-width: 500px;
    margin: auto;
}

.center_me {
    text-align: center;
}