<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Logo Url</label>
      <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="name">Members</label>
      <textarea cols="50" rows="4"></textarea>
      <!-- <input type="text" class="form-control" placeholder="Members"> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  